@import '@styles/fonts/Avenir.font.scss';
@import '@styles/fonts/ITCAvantGardeGothicPro.font.scss';

body {
	@apply bg-slate-500;
	font-family: 'Avenir', sans-serif;
	font-size: 16px;
	margin: 0;
	line-height: 1.2;
}
