extends @layouts/Default/Default.layout.pug

block append styles
	link(rel="stylesheet", href=require('./Index.page.scss'))

block append scripts
	script(src=require('./Index.page.js'), defer)

block body
	canvas#screen(width="640", height="640")
